#main {
    display: flex;
}


#main::before {
    /* background-position: 100%; */
    content: "";
    background:url("../IMG/backk.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* background-size: cover; */
   opacity:10.7;
}
#sun img {
    height: 100px;
    padding-left: 45%;
    margin-bottom:18px;
    margin-top:20px;
}
.bt{
    background: transparent;
    border-radius:9px;
    border-color:rgba(15,96,15,0.553)
}
.bt:hover{
    background-color: #198754;
    color: white;
}
#te{
    text-align: center;
    color: rgb(4 22 71);
    font-family: 'Bree Serif',serif;
    margin-bottom: 90px;
}
#ss{
    text-align: center;
    color: rgb(4 22 71);
    font-family: 'Bree Serif',serif;
    }
#we{
    font-size: 30px;
    color:black;
    font-family: 'Abril Fatface', cursive;
    text-decoration: none;
}    
#main h1{
    padding-top:20px;
    font-size:30px;
    padding-left: 20px;
    text-decoration: underline;
    font-family: 'Bree Serif',serif;
}
.container{
    font-family: 'Bree Serif',serif;
}
.card{
    font-size: 20px;
}
.nav-item{
    font-size: 20px;
}

.navbar-nav{
    margin-left: 30px;
}
.hii{
    color: white;
}
.card-heade{
    background-color: #0a58ca
}

.pic    {
    background-position: 100%;
    content: "";
    background:url("../IMG/whiteba.jpg") no-repeat center center/cover;
    position: absoulte;
    top: 100px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:15.7;
    
}
.p{
    margin-top: 0;
    margin-bottom: 6rem;
}
.con{
    background-position: 100%;
    content: "";
    background:url("../IMG/whiteba.jpg") no-repeat center center/cover;
    background-size: cover;
    position: absoulte;
    top: 100px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:15.7;
}
.b-example-divider {
    padding: -30px;
    height: 3rem;
    background-color: #dee2e6;
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, .1), inset 0 0.125em 0.5em rgba(0, 0, 0, .15)
}
#link{
    height: 6rem;
}
#tw{
    height: 6rem;
}
#mail{
    height: 6rem;
}
.fw{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Crete Round', serif;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Passion One', cursive;
}
.lead{
    font-family: 'Abril Fatface', cursive;
font-family: 'Crete Round', serif;
font-family: 'Golos Text', sans-serif;
}
.hi {font-family: 'Abril Fatface', cursive;
    font-family: 'Crete Round', serif;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Passion One', cursive;
}